{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Add Employee</h1>
<div class="col-xl-6 ">
    {{ form_start(registrationForm) }}
         {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.roles) }}

        
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
