{% extends "base.html.twig" %}

{% block title %}
	Customers
{% endblock %}


{% block content %}

	
<div class="container-fluid py-4"><div class="row">
{% if customer %}

	<div class="col-12 col-xl-4">
		<div class="card h-100">
			<div class="card-header pb-0 p-3">
				<div class="row">
					<div class="col-md-8 d-flex align-items-center">
						<h6 class="mb-0">Profile Information</h6>
					</div>

					<div class="col-md-4 text-end">
						<a href="/customer/{{ customer.id }}/edit">
							<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
						</a>
						<a href="/customer/{{ customer.id }}/delete">
							<i class="ni ni-fat-remove text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
						</a>
					</div>
				</div>
			</div>
			<hr class="horizontal dark mt-2">
			<div class="card-body p-3">
				<p class="text-sm">
					{{ customer.description }}
				</p>
				
				{% for message in app.flashes('message') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}
				{% for  message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
				 
				<ul class="list-group">
					<li class="list-group-item border-0 ps-0 pt-0 text-sm">
						<strong class="text-dark">Company:</strong>
						&nbsp;
						{{ customer.company }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Full Name:</strong>
						&nbsp;
						{{ customer.name }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Mobile:</strong>
						&nbsp;
						{{ customer.phone }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Email:</strong>
						&nbsp;
						{{ customer.email }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Address:</strong>
						&nbsp;
						{{ customer.address }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Zip-Code:</strong>
						&nbsp;
						{{ customer.zipcode }}</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">City:</strong>
						&nbsp;
						{{ customer.city }}</li>
					<li class="list-group-item border-0 ps-0 pb-0">

						<strong class="text-dark text-sm">Social:</strong>
						&nbsp;
						<a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
							<i class="fab fa-facebook fa-lg"></i>
						</a>
						<a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
							<i class="fab fa-twitter fa-lg"></i>
						</a>
						<a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
							<i class="fab fa-instagram fa-lg"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-4">
		<div class="card h-100">
			<div class="card-header pb-0 p-3">
				<h6 class="mb-0">Open
															Tasks</h6>
			</div>
			 <hr class="horizontal dark mt-2">
			<div class="card-body p-3">
				<ul class="list-group">
					{% if tasks %}
						{% for task in tasks %}
							<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
								<div class="avatar me-3">
									<img src="/img/task-logo/{{ task.logo}}" alt="kal" class="border-radius-lg shadow">
								</div>
								<div class="d-flex align-items-start flex-column justify-content-center">
									<h6 class="mb-0 text-sm">{{ task.name }}</h6>
								</div>
								<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="/task/{{ task.id }}">Open</a>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
		<div class="col-12 col-xl-3">
		<div class="card h-100">
			<div class="card-header pb-0 p-3">
				<h6 class="mb-0">Comments </h6>
				{% for message in app.flashes('comment') %}
					<small>
						{{ message }}
					</small>
				{% endfor %}
			</div>
			 <hr class="horizontal dark mt-2">
			<div class="card-body p-3">
				<ul class="list-group">
					{% if comments %}
						{% for comment in comments %}
							<li class="list-group-item border-0 align-items-center ">
							- <small><i>{{ comment.text }}</i></small>
							<a href="/comment/{{ comment.id }}/delete">
							<i class="ni ni-fat-remove text-danger text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
						</a>
							</li>
						{% endfor %}
					{% endif %}
				
				</ul>
			</div>
				<div>
				<form action="/comment/create/{{ customer.id }}" method="POST">
						<input class="form form-control-sm" type="text" name="comment">
						<input class="btn btn-success" type="submit" name ="submit" value="Add Comment">
				</form>
				</div>
		</div>
	</div>
{% endif %}
{% endblock %}
