{% extends "base.html.twig" %}

{% block title %} Create Task {% endblock %}


{% block content %}
<div class="container">
<div class="col-xl-6 ">
   <h1>Create new Task</h1>
       {{ form_start(form) }}
        
            {{ form_row(form.name) }}

            {{ form_row(form.comments) }}

            {{ form_row(form.time) }}

            {{ form_row(form.deadline) }}

            {{ form_row(form.customerId) }}

            {{ form_row(form.employee) }}
    
        {{ form_end (form) }}
</div>
</div>
{% endblock %}
