{% extends "base.html.twig" %}

{% block title %} Create Task {% endblock %}


{% block content %}
<div class="container">
   <h1>Create new Task</h1>
       {{ form_start(form) }}
        
            {{ form_row(form.name) }}

            {{ form_row(form.comments) }}

            {{ form_row(form.description) }}

    
        {{ form_end (form) }}
</div>

{% endblock %}
