{% extends "base.html.twig" %}

{% block title %}
	Edit Mail
{% endblock %}


{% block content %}
	<div class="container">
		<h1>Edit Mail</h1>
		{{ form_start(form) }}

		{{ form_row(form.subject) }}

		{{ form_row(form.message) }}


		{{ form_row(form.customer) }}

		{{ form_row(form.employee) }}

		{{ form_end (form) }}
	</div>

{% endblock %}
