{% extends "base.html.twig" %}

{% block title %}
	{{ mail.subject }}
{% endblock %}


{% block content %}
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12 col-xl-4">
				<div class="card h-100">
					<div class="card-header pb-0 p-3">
						<div class="row">
													<small class="text-center"><strong class="text-dark">Created at:</strong> {{ mail.createdAt|date('H:i  jS F Y')}} </small>
													
							<div class="col-md-8 d-flex align-items-center">
								<h6 class="mb-0">Mail
								</h6>
							</div>
						
							{% if mail.status == 0 %}
							
							<div class="col-md-4 text-end">
								<a href="/mail/{{ mail.id }}/edit">
									<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
								</a>
							
							
								<a href="/mail/{{ mail.id }}/delete">
									<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
								</a>
							</div>
							{% endif %}
								{% for message in app.flashes('successMail') %}
									<div class="alert alert-success">
										{{ message }}
									</div>
							{% endfor %}
							
								{% for message in app.flashes('failSend') %}
									<div class="alert alert-success">
										{{ message }}
									</div>
							{% endfor %}
							
						</div>
					</div>
					<div class="card-body p-3">
						<p class="text-sm"></p>
						<hr class="horizontal gray-light my-4">
						<ul class="list-group">
							<li class="list-group-item border-0 ps-0 pt-0 text-sm">
								<strong class="text-dark">Company:
								</strong>
								&nbsp;
								<img src="/img/customer-logo/{{ mail.customer.logo }}" class="avatar avatar-sm rounded-circle me-2">
								{{ mail.customer.company }}</li>
							<li class="list-group-item border-0 ps-0 text-sm">
								<strong class="text-dark">Subject:</strong>
								&nbsp;
								{{ mail.subject }}</li>
							<li class="list-group-item border-0 ps-0 text-sm">
								<strong class="text-dark">Employee:</strong>
								&nbsp;
								<img src="/img/customer-logo/{{ mail.employee.logo }}" class="avatar avatar-sm rounded-circle me-2">
								{{ mail.employee.name }}
								</li>
								<li class="list-group-item border-0 ps-0 text-sm">
								<strong class="text-dark">Message:</strong><hr>
								&nbsp;
								<p>
								{{ mail.message }}</p></li><hr>
							<li class="list-group-item border-0 ps-0 text-sm">
								<strong class="text-dark">Status:</strong>
								&nbsp;
								{% if mail.status == 1  %}
									<small class="text-center"><strong class="text-dark">Sent at:</strong> {{ mail.sentAt|date('H:i  jS F Y')}} </small>
								{% else %}
									Waiting to sent <br><br>
								<a href="/mail/{{ mail.id }}/sent" class="btn btn-primary" >
								Sent
								</a>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		{% endblock %}
